Flask
gunicorn
Jinja2
joblib
MarkupSafe
numpy
pandas
Pillow
python-dateutil
pytz
requests
six
threadpoolctl
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.11.0+cpu
--find-links https://download.pytorch.org/whl/torch_stable.html
torchvision==0.12.0+cpu
urllib3
Werkzeug
zipp
